In [189]:
import pandas as pd
import numpy as np
questionanaire = pd.read_csv(r'questionnaire.csv')
exam = pd.read_csv(r'examination.csv')
demo = pd.read_csv(r'demographic.csv')

In [190]:
questionanaire = questionanaire[['SEQN', 'ALQ101','ALQ120Q','BPQ020','BPQ030','DIQ010','DIQ160','DIQ170','DBD895','INDFMMPI','SMQ020','SMQ040','WHD010','WHD020']]
exam = exam[['SEQN','BPXSY1','BPXDI1']]
demo = demo[['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'INDHHIN2']]

In [191]:
df = pd.merge(exam, questionanaire, how='inner', on = ['SEQN'])

In [192]:
df2 = pd.merge(df, demo, how='inner', on=['SEQN'])

In [193]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9813 entries, 0 to 9812
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9813 non-null   int64
 1   BPXSY1    7172 non-null   float64
 2   BPXDI1    7172 non-null   float64
 3   ALQ101    5421 non-null   float64
 4   ALQ120Q   4479 non-null   float64
 5   BPQ020    6266 non-null   float64
 6   BPQ030    2118 non-null   float64
 7   DIQ010    9421 non-null   float64
 8   DIQ160    6086 non-null   float64
 9   DIQ170    6262 non-null   float64
 10  DBD895    9379 non-null   float64
 11  INDFMMPI  8813 non-null   float64
 12  SMQ020    5924 non-null   float64
 13  SMQ040    2490 non-null   float64
 14  WHD010    6243 non-null   float64
 15  WHD020    6232 non-null   float64
 16  RIAGENDR  9813 non-null   int64
 17  RIDAGEYR  9813 non-null   int64
 18  RIDRETH3  9813 non-null   int64
 19  DMDEDUC2  5588 non-null   float64
 20  INDHHIN2  9700 non-null   float64
dtypes: float64(17), int64(4)
memory usage: 1.6 MB

In [194]:
df2.rename(columns= {'SEQN':'SurveyID', 'BPXSY1':'SystolicBP','BPXDI1':'DiastolicBP','ALQ101':'12drinksInaYear','ALQ120Q':'DrinksInLastYear','BPQ020':'BeenDiagnostedHypertenisve',
            'BPQ030':'MultipleHypertensionDiagnosis','DIQ010':'DiagnosedDiabetic','DIQ160':'DiagnosedPrediabetic','DIQ170':'DiagnosedAtRiskDiabetes','DBD895':'NumMealsNotAtHomePerMonth',
            'INDFMMPI':'FamilyMonthlyPovertLevel','SMQ020':'Smoked100cigs','SMQ040':'CurrentSmoker','WHD010':'Height','WHD020':'Weight','RIAGENDR':'Gender',
            'RIDAGEYR':'Age(yrs)','RIDRETH3':'Ethnicity','DMDEDUC2':'AdultEducationLevel','INDHHIN2':'AnnualHouseholdIncome'}, inplace= True)

In [195]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9813 entries, 0 to 9812
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SurveyID                       9813 non-null   int64
 1   SystolicBP                     7172 non-null   float64
 2   DiastolicBP                    7172 non-null   float64
 3   12drinksInaYear                5421 non-null   float64
 4   DrinksInLastYear               4479 non-null   float64
 5   BeenDiagnostedHypertenisve     6266 non-null   float64
 6   MultipleHypertensionDiagnosis  2118 non-null   float64
 7   DiagnosedDiabetic              9421 non-null   float64
 8   DiagnosedPrediabetic           6086 non-null   float64
 9   DiagnosedAtRiskDiabetes        6262 non-null   float64
 10  NumMealsNotAtHomePerMonth      9379 non-null   float64
 11  FamilyMonthlyPovertLevel       8813 non-null   float64
 12  Smoked100cigs                  5924 non-null   float64
 13  CurrentSmoker                  2490 non-null   float64
 14  Height                         6243 non-null   float64
 15  Weight                         6232 non-null   float64
 16  Gender                         9813 non-null   int64
 17  Age(yrs)                       9813 non-null   int64
 18  Ethnicity                      9813 non-null   int64
 19  AdultEducationLevel            5588 non-null   float64
 20  AnnualHouseholdIncome          9700 non-null   float64
dtypes: float64(17), int64(4)
memory usage: 1.6 MB

In [196]:
df2['BMI'] = df2['Weight'].mul(703) / df2['Height'].pow(2)

In [197]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9813 entries, 0 to 9812
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SurveyID                       9813 non-null   int64
 1   SystolicBP                     7172 non-null   float64
 2   DiastolicBP                    7172 non-null   float64
 3   12drinksInaYear                5421 non-null   float64
 4   DrinksInLastYear               4479 non-null   float64
 5   BeenDiagnostedHypertenisve     6266 non-null   float64
 6   MultipleHypertensionDiagnosis  2118 non-null   float64
 7   DiagnosedDiabetic              9421 non-null   float64
 8   DiagnosedPrediabetic           6086 non-null   float64
 9   DiagnosedAtRiskDiabetes        6262 non-null   float64
 10  NumMealsNotAtHomePerMonth      9379 non-null   float64
 11  FamilyMonthlyPovertLevel       8813 non-null   float64
 12  Smoked100cigs                  5924 non-null   float64
 13  CurrentSmoker                  2490 non-null   float64
 14  Height                         6243 non-null   float64
 15  Weight                         6232 non-null   float64
 16  Gender                         9813 non-null   int64
 17  Age(yrs)                       9813 non-null   int64
 18  Ethnicity                      9813 non-null   int64
 19  AdultEducationLevel            5588 non-null   float64
 20  AnnualHouseholdIncome          9700 non-null   float64
 21  BMI                            6210 non-null   float64
dtypes: float64(18), int64(4)
memory usage: 1.7 MB

In [198]:
df2['12drinksInaYear'] = df2['12drinksInaYear'].astype(str)

In [199]:
df2['12drinksInaYear'].unique()

array(['1.0', 'nan', '2.0', '9.0'], dtype=object)

In [200]:
df2['12drinksInaYear'] = df2['12drinksInaYear'].replace(['1.0'], 'Yes')
df2['12drinksInaYear'] = df2['12drinksInaYear'].replace(['2.0'], 'No')
df2['12drinksInaYear'] = df2['12drinksInaYear'].replace(['9.0'], 'Unknown')
df2['12drinksInaYear'] = df2['12drinksInaYear'].replace(['nan'], 'Unknown')
df2['12drinksInaYear'].unique()

array(['Yes', 'Unknown', 'No'], dtype=object)

In [201]:
df2['DrinksInLastYear'] = df2['12drinksInaYear'].replace([999.0], 0)

In [202]:
df2['BeenDiagnostedHypertenisve'] = df2['BeenDiagnostedHypertenisve'].astype(str)

In [203]:

df2['BeenDiagnostedHypertenisve'] = df2['BeenDiagnostedHypertenisve'].replace(['1.0'], 'Yes')
df2['BeenDiagnostedHypertenisve'] = df2['BeenDiagnostedHypertenisve'].replace(['2.0'], 'No')
df2['BeenDiagnostedHypertenisve'] = df2['BeenDiagnostedHypertenisve'].replace(['9.0'], 'Unknown')
df2['BeenDiagnostedHypertenisve'] = df2['BeenDiagnostedHypertenisve'].replace(['nan'], 'Unknown')
df2['BeenDiagnostedHypertenisve'].unique()

array(['Yes', 'Unknown', 'No'], dtype=object)

In [204]:
df2['MultipleHypertensionDiagnosis'] = df2['MultipleHypertensionDiagnosis'].astype(str)

In [205]:
df2['MultipleHypertensionDiagnosis'] = df2['MultipleHypertensionDiagnosis'].replace(['1.0'], 'Yes')
df2['MultipleHypertensionDiagnosis'] = df2['MultipleHypertensionDiagnosis'].replace(['2.0'], 'No')
df2['MultipleHypertensionDiagnosis'] = df2['MultipleHypertensionDiagnosis'].replace(['9.0'], 'Unknown')
df2['MultipleHypertensionDiagnosis'] = df2['MultipleHypertensionDiagnosis'].replace(['nan'], 'Unknown')
df2['MultipleHypertensionDiagnosis'].unique()

array(['Yes', 'Unknown', 'No'], dtype=object)

In [206]:
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].astype(str)

In [207]:
df2['DiagnosedDiabetic'].unique()

array(['1.0', '2.0', 'nan', '3.0', '9.0', '7.0'], dtype=object)

In [208]:
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].replace(['1.0'], 'Yes')
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].replace(['2.0'], 'No')
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].replace(['3.0'], 'Borderline')
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].replace(['7.0'], 'Refused')
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].replace(['9.0'], 'Unknown')
df2['DiagnosedDiabetic'] = df2['DiagnosedDiabetic'].replace(['nan'], 'Unknown')
df2['DiagnosedDiabetic'].unique()

array(['Yes', 'No', 'Unknown', 'Borderline', 'Refused'], dtype=object)

In [209]:
df2['DiagnosedPrediabetic'] = df2['DiagnosedPrediabetic'].astype(str)
df2['DiagnosedPrediabetic'].unique()

array(['nan', '2.0', '1.0', '9.0'], dtype=object)

In [210]:
df2['DiagnosedPrediabetic'] = df2['DiagnosedPrediabetic'].replace(['1.0'], 'Yes')
df2['DiagnosedPrediabetic'] = df2['DiagnosedPrediabetic'].replace(['2.0'], 'No')
df2['DiagnosedPrediabetic'] = df2['DiagnosedPrediabetic'].replace(['7.0'], 'Refused')
df2['DiagnosedPrediabetic'] = df2['DiagnosedPrediabetic'].replace(['9.0'], 'Unknown')
df2['DiagnosedPrediabetic'] = df2['DiagnosedPrediabetic'].replace(['nan'], 'Unknown')
df2['DiagnosedPrediabetic'].unique()

array(['Unknown', 'No', 'Yes'], dtype=object)

In [211]:
df2['DiagnosedAtRiskDiabetes'] = df2['DiagnosedAtRiskDiabetes'].astype(str)
df2['DiagnosedAtRiskDiabetes'].unique()

array(['nan', '2.0', '1.0', '9.0'], dtype=object)

In [212]:
df2['DiagnosedAtRiskDiabetes'] = df2['DiagnosedAtRiskDiabetes'].replace(['1.0'], 'Yes')
df2['DiagnosedAtRiskDiabetes'] = df2['DiagnosedAtRiskDiabetes'].replace(['2.0'], 'No')
df2['DiagnosedAtRiskDiabetes'] = df2['DiagnosedAtRiskDiabetes'].replace(['7.0'], 'Refused')
df2['DiagnosedAtRiskDiabetes'] = df2['DiagnosedAtRiskDiabetes'].replace(['9.0'], 'Unknown')
df2['DiagnosedAtRiskDiabetes'] = df2['DiagnosedAtRiskDiabetes'].replace(['nan'], 'Unknown')
df2['DiagnosedAtRiskDiabetes'].unique()

array(['Unknown', 'No', 'Yes'], dtype=object)

In [213]:
#df2['NumMealsNotAtHomePerMonth'] = df2['NumMealsNotAtHomePerMonth'].astype(int)
df2['NumMealsNotAtHomePerMonth'] = df2['NumMealsNotAtHomePerMonth'].replace(5555, 21)
df2['NumMealsNotAtHomePerMonth'] = df2['NumMealsNotAtHomePerMonth'].replace(7777, np.nan)
df2['NumMealsNotAtHomePerMonth'] = df2['NumMealsNotAtHomePerMonth'].replace(9999, np.nan)
df2['NumMealsNotAtHomePerMonth'] = df2['NumMealsNotAtHomePerMonth'].fillna(df2['NumMealsNotAtHomePerMonth'].median())
df2['NumMealsNotAtHomePerMonth'].unique()

array([ 8.,  0.,  1., 14.,  2.,  5.,  3.,  4.,  7., 10., 15., 12.,  6.,
        9., 21., 17., 11., 20., 16., 19., 13., 18.])

In [214]:
df2['FamilyMonthlyPovertLevel'] = df2['FamilyMonthlyPovertLevel'].fillna(df2['FamilyMonthlyPovertLevel'].median())
df2['FamilyMonthlyPovertLevel'].unique()

array([0.86, 0.92, 4.37, 2.52, 5.  , 4.18, 0.51, 1.14, 3.03, 0.91, 0.55,
       1.72, 0.76, 0.3 , 1.54, 4.3 , 2.46, 4.64, 1.27, 2.66, 1.84, 1.46,
       1.18, 2.06, 3.77, 0.41, 2.32, 2.43, 1.83, 1.21, 2.72, 4.28, 3.48,
       1.22, 0.75, 1.04, 1.88, 2.28, 0.67, 1.25, 0.38, 0.93, 4.03, 0.68,
       2.16, 2.18, 2.29, 4.78, 2.55, 0.26, 2.3 , 1.6 , 0.72, 1.78, 3.  ,
       2.8 , 2.76, 1.91, 0.23, 1.52, 3.87, 1.82, 3.34, 0.59, 4.94, 4.53,
       3.81, 0.65, 0.4 , 0.15, 0.88, 0.82, 1.41, 2.09, 2.33, 1.29, 0.36,
       2.01, 1.23, 2.63, 1.13, 0.85, 0.8 , 3.05, 1.85, 1.38, 0.47, 4.12,
       1.7 , 0.74, 3.13, 2.9 , 0.61, 3.75, 2.65, 2.77, 0.87, 0.  , 1.01,
       0.69, 1.03, 2.39, 1.94, 0.98, 1.65, 3.26, 2.04, 0.39, 2.4 , 1.07,
       0.22, 1.75, 3.66, 4.36, 4.35, 0.52, 0.63, 2.08, 0.37, 1.08, 2.58,
       3.02, 3.19, 2.36, 0.46, 4.49, 1.34, 3.06, 4.88, 2.71, 0.19, 2.15,
       0.2 , 2.67, 2.87, 1.35, 1.95, 1.2 , 1.57, 0.73, 1.74, 3.4 , 1.9 ,
       1.51, 1.53, 3.82, 1.16, 2.03, 3.57, 1.17, 4.08, 0.25, 1.99, 0.45,
       0.64, 0.35, 2.85, 2.57, 0.84, 0.7 , 1.06, 1.37, 3.09, 0.56, 0.08,
       1.93, 0.21, 1.09, 4.04, 1.  , 1.61, 4.19, 2.37, 4.11, 3.7 , 2.17,
       3.69, 1.26, 4.55, 0.31, 1.43, 2.79, 1.68, 0.99, 4.42, 1.02, 3.33,
       0.33, 2.25, 0.9 , 1.79, 1.31, 2.92, 0.48, 0.66, 0.57, 1.5 , 1.92,
       0.54, 3.42, 1.67, 0.28, 1.15, 2.61, 1.12, 0.81, 3.01, 0.5 , 2.97,
       1.47, 1.39, 0.77, 1.58, 3.07, 2.95, 4.13, 4.96, 4.79, 0.71, 1.55,
       0.95, 4.39, 1.11, 1.98, 1.44, 4.7 , 1.8 , 1.89, 3.52, 0.34, 3.11,
       0.6 , 0.42, 3.04, 0.49, 3.74, 0.53, 0.43, 4.24, 3.27, 2.24, 4.58,
       2.94, 1.33, 4.26, 0.96, 1.86, 1.96, 3.99, 4.92, 0.44, 1.66, 3.64,
       0.78, 1.24, 0.03, 1.63, 2.  , 2.02, 1.81, 3.95, 0.79, 2.14, 0.24,
       4.52, 0.17, 1.62, 1.19, 0.97, 2.12, 3.59, 0.94, 1.97, 2.82, 0.04,
       3.83, 3.31, 2.5 , 4.85, 4.05, 4.84, 2.21, 2.81, 1.71, 4.59, 2.26,
       3.16, 3.14, 4.67, 1.64, 4.73, 2.47, 0.89, 1.76, 0.83, 1.32, 3.94,
       2.73, 4.33, 3.3 , 3.55, 0.18, 4.1 , 3.25, 3.92, 0.29, 2.19, 0.09,
       4.01, 1.73, 2.99, 3.38, 3.1 , 2.44, 3.28, 0.12, 3.6 , 4.97, 1.87,
       1.45, 3.65, 4.51, 4.22, 4.  , 3.71, 4.2 , 2.48, 0.27, 1.36, 3.43,
       3.23, 3.76, 3.36, 3.08, 1.4 , 3.37, 1.28, 2.59, 3.8 , 3.2 , 0.62,
       4.61, 0.13, 1.56, 2.96, 2.88, 2.83, 1.05, 0.1 , 2.51, 2.84, 2.91,
       1.69, 1.3 , 2.11, 3.5 , 3.44, 4.63, 4.77, 2.42, 2.7 , 0.32, 2.27,
       1.48, 1.49, 1.1 , 2.23, 2.07, 3.97, 3.49, 3.91, 0.05, 4.07, 4.16,
       3.29, 2.64, 4.54, 2.75, 2.13, 2.89, 4.06, 2.86, 3.24, 0.01, 4.56,
       3.56, 3.63, 3.32, 0.58, 3.46, 2.78, 3.22, 4.32, 3.58, 3.88, 0.16,
       1.59, 3.86, 3.62, 0.02, 3.39, 4.8 ])

In [215]:
df2['Smoked100cigs'] = df2['Smoked100cigs'].astype(str)
df2['Smoked100cigs'].unique()

array(['1.0', 'nan', '2.0', '9.0'], dtype=object)

In [216]:
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['1.0'], 'Yes')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['2.0'], 'No')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['9.0'], 'Unknown')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['nan'], 'Unknown')
df2['Smoked100cigs'].unique()

array(['Yes', 'Unknown', 'No'], dtype=object)

In [217]:
df2['CurrentSmoker'] = df2['CurrentSmoker'].astype(str)
df2['CurrentSmoker'].unique()

array(['3.0', '2.0', 'nan', '1.0'], dtype=object)

In [218]:
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['1.0'], 'Yes')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['2.0'], 'Yes')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['3.0'], 'No')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['7.0'], 'Refused')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['9.0'], 'Unknown')
df2['Smoked100cigs'] = df2['Smoked100cigs'].replace(['nan'], 'Unknown')
df2['Smoked100cigs'].unique()

array(['Yes', 'Unknown', 'No'], dtype=object)

In [219]:
df2['Gender'] = df2['Gender'].astype(str)
df2['Gender'].unique()

array(['1', '2'], dtype=object)

In [221]:
df2['Gender'] = df2['Gender'].replace(['1'], 'Male')
df2['Gender'] = df2['Gender'].replace(['2'], 'Female')
df2['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [222]:
df2['Ethnicity'] = df2['Ethnicity'].astype(str)
df2['Ethnicity'].unique()

array(['4', '3', '1', '7', '6', '2'], dtype=object)

In [223]:
df2['Ethnicity'] = df2['Ethnicity'].replace(['1'], 'Mexican American')
df2['Ethnicity'] = df2['Ethnicity'].replace(['2'], 'Other Hispanic')
df2['Ethnicity'] = df2['Ethnicity'].replace(['3'], 'Non-Hispanic White')
df2['Ethnicity'] = df2['Ethnicity'].replace(['4'], 'Non-Hispanic Black')
df2['Ethnicity'] = df2['Ethnicity'].replace(['6'], 'Non-Hispanic Asian')
df2['Ethnicity'] = df2['Ethnicity'].replace(['7'], 'Other Race - Including Multi Racial')
df2['Ethnicity'].unique()

array(['Non-Hispanic Black', 'Non-Hispanic White', 'Mexican American',
       'Other Race - Including Multi Racial', 'Non-Hispanic Asian',
       'Other Hispanic'], dtype=object)

In [224]:
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].astype(str)
df2['AdultEducationLevel'].unique()

array(['3.0', '4.0', 'nan', '5.0', '2.0', '1.0', '9.0', '7.0'],
      dtype=object)

In [225]:
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['1.0'], 'No High School Diploma or GED')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['2.0'], 'No High School Diploma or GED')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['3.0'], 'High School Diploma or GED/equivalent')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['4.0'], 'Some College or Associates degree')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['5.0'], 'Bachelors or Higher')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['7.0'], 'Unknown')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['9.0'], 'Unknown')
df2['AdultEducationLevel'] = df2['AdultEducationLevel'].replace(['nan'], 'Unknown')
df2['AdultEducationLevel'].unique()

array(['High School Diploma or GED/equivalent',
       'Some College or Associates degree', 'Unknown',
       'Bachelors or Higher', 'No High School Diploma or GED'],
      dtype=object)

In [226]:
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].astype(str)
df2['AnnualHouseholdIncome'].unique()

array(['4.0', '7.0', '10.0', '9.0', '15.0', '3.0', '5.0', '14.0', '2.0',
       '8.0', '12.0', '6.0', 'nan', '13.0', '1.0', '99.0', '77.0'],
      dtype=object)

In [227]:
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['1.0'], 'less than 5,000')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['2.0'], '5,000 to 9,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['3.0'], '10,000 to 14,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['4.0'], '15,000 to 19,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['5.0'], '20,000 to 24,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['6.0'], '25,000 to 34,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['7.0'], '35,000 to 44,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['8.0'], '45,000 to 54,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['9.0'], '55,000 to 64,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['10.0'], '65,000 to 74,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['12.0'], '20,000 and Over')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['13.0'], 'Under 20,000')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['14.0'], '75,000 to 99,999')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['15.0'], '100,000 and Over')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['77.0'], 'Unknown')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['99.0'], 'Unknown')
df2['AnnualHouseholdIncome'] = df2['AnnualHouseholdIncome'].replace(['nan'], 'Unknown')
df2['AnnualHouseholdIncome'].unique()

array(['15,000 to 19,999', '35,000 to 44,999', '65,000 to 74,999',
       '55,000 to 64,999', '100,000 and Over', '10,000 to 14,999',
       '20,000 to 24,999', '75,000 to 99,999', '5,000 to 9,999',
       '45,000 to 54,999', '20,000 and Over', '25,000 to 34,999',
       'Unknown', 'Under 20,000', 'less than 5,000'], dtype=object)

In [228]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9813 entries, 0 to 9812
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SurveyID                       9813 non-null   int64
 1   SystolicBP                     7172 non-null   float64
 2   DiastolicBP                    7172 non-null   float64
 3   12drinksInaYear                9813 non-null   object
 4   DrinksInLastYear               9813 non-null   object
 5   BeenDiagnostedHypertenisve     9813 non-null   object
 6   MultipleHypertensionDiagnosis  9813 non-null   object
 7   DiagnosedDiabetic              9813 non-null   object
 8   DiagnosedPrediabetic           9813 non-null   object
 9   DiagnosedAtRiskDiabetes        9813 non-null   object
 10  NumMealsNotAtHomePerMonth      9813 non-null   float64
 11  FamilyMonthlyPovertLevel       9813 non-null   float64
 12  Smoked100cigs                  9813 non-null   object
 13  CurrentSmoker                  9813 non-null   object
 14  Height                         6243 non-null   float64
 15  Weight                         6232 non-null   float64
 16  Gender                         9813 non-null   object
 17  Age(yrs)                       9813 non-null   int64
 18  Ethnicity                      9813 non-null   object
 19  AdultEducationLevel            9813 non-null   object
 20  AnnualHouseholdIncome          9813 non-null   object
 21  BMI                            6210 non-null   float64
dtypes: float64(7), int64(2), object(13)
memory usage: 1.7+ MB

In [229]:
df2 = df2.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5684 entries, 0 to 9810
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SurveyID                       5684 non-null   int64
 1   SystolicBP                     5684 non-null   float64
 2   DiastolicBP                    5684 non-null   float64
 3   12drinksInaYear                5684 non-null   object
 4   DrinksInLastYear               5684 non-null   object
 5   BeenDiagnostedHypertenisve     5684 non-null   object
 6   MultipleHypertensionDiagnosis  5684 non-null   object
 7   DiagnosedDiabetic              5684 non-null   object
 8   DiagnosedPrediabetic           5684 non-null   object
 9   DiagnosedAtRiskDiabetes        5684 non-null   object
 10  NumMealsNotAtHomePerMonth      5684 non-null   float64
 11  FamilyMonthlyPovertLevel       5684 non-null   float64
 12  Smoked100cigs                  5684 non-null   object
 13  CurrentSmoker                  5684 non-null   object
 14  Height                         5684 non-null   float64
 15  Weight                         5684 non-null   float64
 16  Gender                         5684 non-null   object
 17  Age(yrs)                       5684 non-null   int64
 18  Ethnicity                      5684 non-null   object
 19  AdultEducationLevel            5684 non-null   object
 20  AnnualHouseholdIncome          5684 non-null   object
 21  BMI                            5684 non-null   float64
dtypes: float64(7), int64(2), object(13)
memory usage: 1021.3+ KB

In [230]:
df2.to_csv('U.S. NHANES Survey Data.csv')